{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block image-header %}contact{% endblock %}

{% block title-header %} 
<div>
    <h1 class="display-4 fw-bold">Contacto</h1>
</div>
<div>
    <h3 class="fs-2">Asesoría personal</h3>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto ">
        <h2 class="fw-bold text-center">Ponte en contacto conmigo</h2>
        <br>
        <p>Me encantaría saber de ti. Si tienes alguna pregunta, comentario o simplemente quieres saludar, no dudes en llamarmeal siguiente numero o a través de mis redes sociales.</p>

        <div class="col-md-6">
            <h3>Información de Contacto</h3>
            <p><strong>Email:</strong> luisgonzalesmeza25@gmail.com </p>
            <p><strong>Teléfono:</strong> +51 654 041</p>
            <p><strong>Ubicación:</strong> Padre Abad, Perú</p>
            <h4 class="fw-bold text-center">No te olvides en seguirme en mis redes sociales</h4>
            <p>
            </div>
    </div>
</div>
{% endblock %}
