{% extends 'core/base.html' %}

{% block title %}Inicio{% endblock %}

{% block image-header %}home{% endblock %}

{% block title-header %} 
<div>
    <h1 class="display-4 fw-bold">Luis Gonzales</h1>
</div>
<div>
    <h3 class="fs-2">Desarrollador Web</h3>
</div>
{% endblock %}

{% block content %} 
<h3 class="fw-lighter fst-italic px-5">Soy un desarrollador web con una pasión por crear soluciones innovadoras y eficientes. Con más de 5 años de experiencia en el desarrollo de aplicaciones web, he trabajado con una variedad de tecnologías y herramientas para entregar productos de alta calidad. Me especializo en Python y Django, pero también tengo experiencia con JavaScript, HTML, CSS y frameworks como React y Angular.</h3>
<br>
<p>
    Mi objetivo es siempre aprender y mejorar mis habilidades, mantenerme al día con las últimas tendencias y tecnologías en el desarrollo web, y aplicar este conocimiento para resolver problemas complejos y ofrecer soluciones prácticas a mis clientes.
</p>
<p>
    Fuera del trabajo, disfruto de la lectura, el senderismo y participar en proyectos de código abierto. Creo firmemente en la importancia de una buena comunicación y el trabajo en equipo para lograr resultados sobresalientes.
</p>
{% endblock %}
